body {
	font-family: 'Barlow', sans-serif;
}

html {
	scroll-behavior: smooth;
}

.footer-social-media-parent-container {
	text-align: left;
}

.footer-social-media-icons {
	font-size: 36px;
}

.footer-section-break {
	border-bottom: 1px solid white;
	margin-top: 5px;
	margin-bottom: 15px;
}

.footer-paragraph {
	display: inline-block;
}

.footer-left-container {
	text-align: left;
}

.footer-right-container {
	text-align: end;
}

.footer-right-container, .footer-left-container p {
	font-family: 'Dancing Script', cursive;
}

.footer {
	width: 100%;
	background-color: #2b2b2b;
	color: white;
	text-align: center;
	padding: 10px;
	border-top: 1px solid black;
}

.arrow-up-custom {
	color: white;
	font-size: 26px;
}

.top-of-page-button {
	display: none;
	position: fixed;
	right: 30px;
	bottom: 30px;
	z-index: 99;
	border-radius: 50%;
	border: 1px solid white;
	width: 48px;
	height: 48px;
	box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
	background-color: #2b2b2b;
	justify-content: space-around;
	align-items: center;
}

.top-of-page-button:hover {
	background-color: gray;
	color: white;
}

.houses-background {
	background-image: url("../images/HousesBackground.jpg");
	height: 300px;
	margin-bottom: 30px;
	background-position: center;
	background-size: cover;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
}

.monthly-expense-input {
	margin-bottom: 5px;
	padding-right: 5px;
	padding-left: 0px;
}

.information-container {
	border: 1px solid #ddd;
	border-radius: 2px;
	padding: 10px;
	margin-bottom: 10px;
}

.information-container-repayment {
	color: #474747;
	font-size: 24px;
	display: block;
}

.information-span {
	margin-left: 5px;
}

.custom-button {
	margin-bottom: 5px;
	display: block;
}

/* Summary table */

.summary-table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 10px;
	table-layout: fixed;
}

.summary-table td, .summary-table th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

.summary-table .cell-text-right-adjust {
	text-align: end;
}

.summary-table tr:nth-child(even) {
	background-color: rgba(0, 0, 0, .05);
}

.summary-information-container {
	padding-bottom: 15px;
}

.house-cost-progress-legend-parent {
	height: 20px;
	margin-bottom: 5px;
	display: table;
}

.house-cost-progress-legend {
	border-radius: 4px;
	background-color: #f5f5f5;
	width: 20px;
	height: 20px;
	box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
	display: table-cell;
}

.house-cost-progress-legend-text {
	vertical-align: middle;
	display: table-cell;
	padding-left: 10px;
}

.house-cost-progress-legend-main {
	display: block;
	margin-bottom: 15px;
}

/* Slider */

.slider-container {
	margin-bottom: 10px;
}

.slider-span {
	display: block;
	text-align: center;
}

.slider-input {
	display: block;
}

.slider-input::-webkit-slider-thumb {
	cursor: pointer;
	width: 25px;
	height: 25px;
}

/* Navigation header */

.navigation-header {
	padding-top: 38px;
	padding-bottom: 38px;
	background-image: linear-gradient(140deg, #161616 0%, #3f3f3f 60%, #8b8b8b 95%);
	background-color: #2b2b2b;
	color: white;
	margin-bottom: 20px;
	border-bottom: 1px solid black;
}

.navigation-header h1 {
	font-size: 63px;
	font-family: 'Dancing Script', cursive;
}

.navigation-header p {
	font-size: 21px;
	margin-bottom: 15px;
	font-weight: 200;
}

/* Tooltip */

.tooltip-icon {
	border: 1px solid black;
	display: inline-block;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	text-align: center;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	margin-left: -60px;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.section-break {
	border-bottom: 1px solid #757575;
	margin-top: 5px;
	margin-bottom: 15px;
}

/* Currency Container */

.currency-parent-container {
	display: table;
	padding: 5px;
	padding-left: 10px;
}

.main-currency-parent-container {
	padding-right: 5px;
	padding-left: 0px;
	width: 100%;
	display: inline-block;
}

.currency-container {
	display: table-cell;
	width: 0;
}

.currency-input {
	border: none;
	outline: 0;
	display: table-cell;
	width: 100%;
}

/* Custom Headings */

.h4-custom {
	font-weight: bold;
	font-size: 18px;
	color: #2e2e2e;
}

.h5-custom {
	font-weight: bold;
	font-size: 16px;
	color: #2e2e2e;
}

.margin-top-none {
	margin-top: 0px;
}

/* Other */

.custom-panel-h1 {
	font-family: 'Dancing Script', cursive;
}

/* Override bootstrap */

.alert {
	margin-bottom: 10px;
}

.get-started-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.get-started-button {
	border: 1px solid black;
	width: 200px;
	height: 60px;
	border-radius: 30px;
	color: black;
	background-color: white;
	opacity: 0.9;
	font-size: 2vh;
	font-family: 'Dancing Script', cursive;
}

.get-started-button:hover {
	background-color: #a0a0a0;
	color: white;
}

.panel-default>.panel-heading {
	background-image: linear-gradient(140deg, #e6e6e6 0%, #a7a7a7 60%, #bbbbbb 100%);
	color: black;
	border-radius: 4px 4px 0px 0px;
}

.panel {
	border: 1px solid #777777;
}

.panel-heading {
	border-bottom: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

@media only screen and (max-width: 996px) {
	.footer-left-container {
		text-align: center;
	}

	.footer-right-container {
		text-align: center;
	}
}